.sidebar        {margin-top: 3em}
.navbar-right   {margin-right: -10%}

.sub-header     {}
.row            {margin: 0 -12%;}
.list-group-item    {margin:  -10px 15px;}

.paginate       {text-align: center;}