
<ul class="nav nav-sidebar">
    <li class="list-group-item"><a href="{% url 'program:margin_trade' %}">大宗交易</a></li>
    <!--<li class="list-group-item">-->
        <!--<span class="btn btn-default" data-toggle="popover">大宗交易</span>-->
    <!--</li>-->
    <li class="list-group-item"><a href="">融资融券</a></li>
    <li class="list-group-item"><a href="">高管增减持</a></li>
    <li class="list-group-item"><a href="">A 股研报</a></li>
    <li class="list-group-item"><a href="">港股研报</a></li>
    <li class="list-group-item"><a href="">港股股本</a></li>
    <li class="list-group-item"><a href="">港股公告</a></li>
</ul>
