{% extends "layout.html" %}

{% block style %}
    {% load static %}
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'program:index' %}" style="margin:0 -1em 0 8em"><span>程序</span></a>
                <a class="navbar-brand" href="" style="margin:0 -1em 0 4em"><span>新闻</span></a>
                <a class="navbar-brand" href="" style="margin:0 -1em 0 4em"><span>外源</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Profile</a></li>
                <li><a href="#">登陆</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="list-group-item"><a href="{% url 'program:block_trade' %}">大宗交易</a></li>
                    <li class="list-group-item"><a href="{% url 'login' %}" >融资融券</a></li>
                    <li class="list-group-item"><a href="{% url 'program:executive' %}">高管增减持</a></li>
                    <li class="list-group-item"><a href="{% url 'program:report' %}">A 股研报</a></li>
                    <li class="list-group-item"><a href="{% url 'program:report' %}">港股研报</a></li>
                    <li class="list-group-item"><a href="{% url 'program:stock_equity' %}">港股股本</a></li>
                    <li class="list-group-item"><a href="{% url 'program:announcement' %}">港股公告</a></li>
                </ul>
            </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width: 80%">
            <h3 class="sub-header">
                {% block header %}{% endblock %}
            </h3>

            {% block form %}{% endblock %}
            <div class="table-responsive">
                {% block table %}{% endblock %}
            </div>

             {% block pagination %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}